In [5]:
import pandas as pd

In [7]:
df=pd.read_csv("financial_transactions.csv")

In [9]:
df

,TransactionID,CustomerID,TransactionType,Amount,Date,Branch,Region,CustomerSegment
0,TXN00001,bdd640fb-0667-4ad1-9c80-317fa3b1799d,Withdrawal,9814.32,2024-11-08,Heliopolis,Assiut,VIP
1,TXN00002,bc8960a9-23b8-41e9-b924-56de3eb13b90,Deposit,2179.05,2024-09-02,New Cairo,Alexandria,Regular
2,TXN00003,8b9d2434-e465-4150-bd9c-66b3ad3c2d6d,Withdrawal,6391.30,2024-08-27,Nasr City,Assiut,New
3,TXN00004,07a0ca6e-0822-48f3-ac03-1199972a8469,Withdrawal,2093.93,2024-08-30,Maadi,Giza,VIP
4,TXN00005,9a1de644-815e-46d1-bb8f-aa1837f8a88b,Purchase,3424.31,2024-08-04,Zamalek,Giza,VIP
...,...,...,...,...,...,...,...,...
19995,TXN19996,bdf36000-aa50-400f-8de1-5f8b7dbf8eb3,Withdrawal,813.98,2025-02-18,Nasr City,Cairo,New
19996,TXN19997,635e9ea5-4191-40f1-864d-389247e73296,Purchase,8770.25,2025-02-18,Zamalek,Cairo,Regular
19997,TXN19998,043b348e-51d6-4a8d-a361-54c0eecd9827,Withdrawal,3554.89,2024-09-03,Heliopolis,Alexandria,VIP
19998,TXN19999,8aab1eb9-a18a-4717-b2b2-bc6aaae9763a,Deposit,5360.05,2024-08-28,Nasr City,Alexandria,VIP
19999,TXN20000,b704552a-5deb-4356-81ad-7c3b3e9b058e,Withdrawal,6929.17,2025-07-11,Nasr City,Alexandria,New

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    20000 non-null  object
 1   CustomerID       20000 non-null  object
 2   TransactionType  20000 non-null  object
 3   Amount           20000 non-null  float64
 4   Date             20000 non-null  object
 5   Branch           20000 non-null  object
 6   Region           20000 non-null  object
 7   CustomerSegment  20000 non-null  object
dtypes: float64(1), object(7)
memory usage: 1.2+ MB

In [13]:
print (df.columns)

Index(['TransactionID', 'CustomerID', 'TransactionType', 'Amount', 'Date',
       'Branch', 'Region', 'CustomerSegment'],
      dtype='object')

In [13]:
print (df.shape)

(20000, 8)

In [19]:
print (f"Dataset  contains {df.shape[0]} rows and {df.shape[1]} columns")

Dataset  contains 20000 rows and 8 columns

In [15]:
df.describe()

             Amount
count  20000.000000
mean    5023.682985
std     2862.509206
min       50.040000
25%     2547.275000
50%     5031.730000
75%     7494.372500
max     9998.160000

In [25]:
print (df.isnull().sum())

TransactionID      0
CustomerID         0
TransactionType    0
Amount             0
Date               0
Branch             0
Region             0
CustomerSegment    0
dtype: int64

In [17]:
print (df.duplicated())

0        False
1        False
2        False
3        False
4        False
         ...
19995    False
19996    False
19997    False
19998    False
19999    False
Length: 20000, dtype: bool

In [19]:
print (df.duplicated().sum())

0

In [23]:
df['Date']=pd.to_datetime(df['Date'])

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    20000 non-null  object
 1   CustomerID       20000 non-null  object
 2   TransactionType  20000 non-null  object
 3   Amount           20000 non-null  float64
 4   Date             20000 non-null  datetime64[ns]
 5   Branch           20000 non-null  object
 6   Region           20000 non-null  object
 7   CustomerSegment  20000 non-null  object
dtypes: datetime64[ns](1), float64(1), object(6)
memory usage: 1.2+ MB

In [29]:
print (df.dtypes)

TransactionID              object
CustomerID                 object
TransactionType            object
Amount                    float64
Date               datetime64[ns]
Branch                     object
Region                     object
CustomerSegment            object
dtype: object

In [35]:
df.to_csv('financial_transactions_1.csv')